*{box-sizing: border-box;}
@font-face{ font-family: Balsamiq_Sans;
src: url('../font/BalsamiqSans-Regular.ttf');}
@font-face{ font-family: DancingScript-Regular;
src: url('../font/DancingScript-Regular.ttf');}	 
@font-face{ font-family: Lobster-Regular;
src: url('../font/Lobster-Regular.ttf');}
@font-face{ font-family: Montserrat-Regular;
src: url('../font/Montserrat-Regular.ttf');}
@font-face{ font-family: Pacifico-Regular;
src: url('../font/Pacifico-Regular.ttf');}
@font-face{ font-family: Rubik-Regular;
src: url('../font/Rubik-Regular.ttf');}
	

body{ 
	overflow-x: hidden;
	
}

.cl{
	color: #11998e;	
}
.brand{
    color: #11998e;  /* fallback for old browsers */
    font-family: Pacifico-Regular;
}
.video-header{height: 100vh;
         display: flex;
	     align-items: center;
	     color: #fff;
	
}

.wrap{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin:auto;
	text-align: center;
	
}
.fullscreen-video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	
}
.fullscreen-video-wrap video{
	min-height: 100%;
	min-width: 100%;
	
	
}

.header-overlay{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(34,33,33,0.5);
	opacity: 0.80;
	
}

.header-content{
	z-index: 2;
	margin-top:15%;
	padding: 0 5rem;
	font-family: Rubik-Regular;
	
}

.header-content h1{
	font-size: 50px;
	margin-bottom: 0;
	
	
}
.header-content p{
	font-size: 1.5rem;
	display: block;
	padding-bottom: 2rem;
	margin-top: 5
	px;
}

.my-btn{
	padding: 1rem 1rem;
}

@media(max-width:768px){
	.header-content h1{font-size: 40px;}
	.header-content p{font-size: 1rem;}
	.box{overflow: hidden;}
}

section{text-align: center; margin-top: 50px; font-size: 1.5rem;}

.navbar{z-index: 10;}
.my-nav .nav-link{color: aliceblue;}
.my-nav .navbar-brand{color: aliceblue;}
.navbar-toggler-icon{color: aliceblue;}

.my-nav{
	background-color: rgba(34,33,33,0.65);
	font-family: Rubik-Regular;	
}
.cover{
	display: flex;

}
.box{
	display:flex;
	border: 2px solid #11998e;
	border-radius:6px ;
	position: relative;
	font-family: Rubik-Regular;
	box-shadow: 1px 0px 4px 0px #11998e;
}
.over{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */ 
	background: linear-gradient(to left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	opacity: 0;
	font-size: 20px;
	font-family: Rubik-Regular;
}
.over:hover{
	opacity: 1;
	transition: 0.5s;
}

.main img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid #11998e;
} /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

/*
flip card

*/
.card-front img{
	height:200px;
	border-radius: 10px;
	width:100%;
}
.card-flip > div {
	backface-visibility: hidden;
	transition: transform 300ms;
	transition-timing-function: linear;
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
    font-family: Rubik-Regular;
	
  }
  
  .card-front {
	transform: rotateY(0deg);
  }
  
  .card-back {
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
  }
  
  .card-flip:hover .card-front {
	transform: rotateY(-180deg);
  }
	
  .card-flip:hover .card-back {
	transform: rotateY(0deg);
  }
  .bg-color{
	background: #11998e;  /* fallback for old browsers */
    color: #ffffff;
	border-radius:10px ;
	font-family: Rubik-Regular;
  }
  .icon-box{
	  height: 50px;
	  width: 50px;
	  border-radius:50%;
	  background-color: #ffffff;
	  font-size: 25px;
	  text-align: center;
	  color: #80D0C7;
	  line-height:2	;
  }
 .card-img-top{
	 height: 200px;
	 width: 100%;
 }
 .icon-box-bg{
	 height: 40px;
	 width: 40px;
	 background-color: #11998e;
	 border-radius: 50%;
	 margin-left: 5px;
	 color: #ffffff;
	 font-size: 18px;
	 text-align: center;
	 line-height: 2.2;

 }
 .my-btn{
	 background-color: #11998e;
	 color: #ffffff;
 }
 .top-icon{
	font-family: Rubik-Regular;
 }
 .line{
	 border: 1px solid #11998e;
	 width: 20%;
	 margin: auto;
	 border-radius: 10px;
 }
 .car-round{
	 height: 100px;
	 width: 100px;
	 border:3px solid #11998e;
	 border-radius:50%;
	 margin: auto;
	 font-size: 35px;
	 color: #11998e;
	 line-height:2.5;
	 box-shadow: 0px 0px 5px 0px #11998e;
	transition: all 1s; 

 }
 .car-round:hover{
 -webkit-transform:rotate(360deg) translateZ(0) ;
 }
 .car-box{
	border: 2px solid #11998e;
	border-radius: 5px;	
 }
.set{
	padding:0px 8px 0px 8px;
	border-radius:5px;
	background-color: #11998e;
	color: #ffffff;
	font-family: Rubik-Regular;
	position:absolute;
	right: 10%;
	top: 5%;
	line-height: 2;

}
.bg-img
{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/bg.jpg');
	background-repeat:no-repeat ;
	background-attachment: fixed ;
	background-position:center ;
}
.rew-box{
	border: 2px solid #11998e;
	padding:3px 10px 0px 10px;
	border-radius:5px;
	font-size: 18px;
	background-color: #ffffff;
}
.lin-box{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: #ffffff;
	color: #11998e;
	font-size: 20px;
}
